.sidebar {
    position: relative;
    width: 11%;
    height: fit-content;
    background-color: aqua;
    margin-right: 3%;
}

div.content {
    width: 83%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.content .newRequest {
    width: 100%;
    position: relative;
    margin-bottom: 3%;
    background-color: azure;
}

.content .associations {
    width: 48.5%;
    position: relative;
    margin-right: 3%;
    background-color: beige;
}

.content .events {
    width: 48.5%;
    position: relative;
    background-color: beige;
}
