.sidebar {
    position: relative;
    width: 21%;
    height: 92vh;
    background-color: aqua;
    margin-right: 2%;
}

div.content {
    width: 78%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.content .newRequest {
    width: 100%;
    position: relative;
    margin-bottom: 2%;
    background-color: azure;
}

.content .associations {
    width: 49%;
    position: relative;
    margin-right: 2%;
    background-color: beige;
}

.content .events {
    width: 49%;
    position: relative;
    background-color: beige;
}
